{
  "app": {
    "name": "REACT GO BOILERPLATE"
  },
  "database": {
    "username": "",
    "password": "",
    "host": "",
    "port": "",
    "name": ""
  },
  "server": {
    "port": ""
  },
  "log": {
    "level": ""
  }
}
